/**
 * @name         Exeon Theme
 * @description  A theme made by Exeon
 * @author       ObjectKitty/Exeon
 * @version      1.5
 * @source       https://exeon.xyz/themes/exeon/exeon.theme.css
 * @invite       
 * @authorId     414514159993094164
 */

/*Win32 Titlebar for cool people*/
/*made by tropical*/

:root {
    --titlebar-height:28px;
    --titlebar-drag-margin:4px;
    --titlebar-button-width:43px;
    --titlebar-icon:url('https://i.imgur.com/5TdEw8a.png');
    --titlebar-font-size:14px;
    --titlebar-icon-font-size:14px;
    --titlebar-wordmark-content:'Exeoncord';
	--supporterbadge: url(data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg"/><text x="0" y="15" fill="red">Exit</text></svg>) !important;
}

.wordmarkWindows-1v0lYD svg {
    display:none;
}

.wordmarkWindows-1v0lYD::before {
    content:'';
    width:1em;
    height:1em;
    font-size:var(--titlebar-icon-font-size);
    padding:0 .5em;
    background:var(--titlebar-icon) center/contain no-repeat;
}

.wordmarkWindows-1v0lYD::after {
    content:var(--titlebar-wordmark-content);
    color:var(--titlebar-text-color);
    font-size:var(--titlebar-font-size);
    font-weight:400;
    font-family:'Segoe UI';
}

.platform-win .container-3baos1 .avatar-SmRMf2:hover {
    opacity:1;
}

.winButton-iRh8-Z {
    color: gray;
}

.withFrame-haYltI {
    height: 21px;
    margin-top: 4px;
}

.wordmarkWindows-1v0lYD {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 9px 3px;
    color: white;
}

.winButtonClose-1HsbF- {
	color: red;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #0967f3;
}

.button-14-BFJ {
    line-height: 0;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: #0967f3;
}

.circleIconButton-jET_ig {
    color: #000000;
    background-color: #0967f3;
}

.members-1998pB {
    background-color: #050f27;
}

.messages-3amgkR {
    background-color: #050f27;
}

.channelTextArea-rNsIhG {
    margin-bottom: 1px;
    background-color: #0d3d9e;
}

.chat-3bRxxu {
    background: #050f27;
}

.form-2fGMdU:before {
    background: #050f27;
    background: #050f27;
}

.form-2fGMdU {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}

.scrollableContainer-2NUZem {
    border-radius: 0px;
}

.sidebar-2K8pFh {
    width: 275px;
}


.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: unset;
    border-width: 4px;
    border-style: solid;
    border-radius: 1px;
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
    border-color: #36393F;
}

.privateChannels-1nO12o, .searchBar-6Kv8R2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-grid;
}

.scrollableContainer-2NUZem {
    background-color: #292B2F;
}

.scroller-1JbKMe {
    background-color: #050f27;
}

.panels-j1Uci_ {
    background-color: #050f27;
}

.privateChannels-1nO12o {
    background-color: #050f27;
}

.scroller-2TZvBN {
    background-color: #050F27;
}

.container-PNkimc {
    background-color: #050F27;
}

.container-1r6BKw.themed-ANHk51 {
    background: #050F27;
}

.membersGroup-v9BXpm {
	background-color: #050F27;
}

.theme-dark #MemberCount {
    background: #050F27;
}