body {
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
#head {
  font-family: monospace;
  text-align: center;
  bottom: 500px;
  position: relative;
  top: 275px;
	color: black;
}

.container{
	width:80%;
	margin:auto;
}

#description {
	display: block;
	margin: 990px 0;
}

#button1 {
	text-decoration: none;
	position: absolute;
	top: 450px;
	left: 46.7%;
	border: 1px solid black;
	padding: 5px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #f4f4f4;
	color: black;
	font: black;
}

a {
	text-decoration:none;
	color:black
}

.headimg {
	background-image: url('./mountain.jpg');
	background-position: center;
	background-size:cover ;
	min-height: 700px;
	width: 1903px;
	margin: -190px;
	margin-bottom: 100px;
}

.cert {
	position: absolute;
	top: 99%;
}
